{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}

    <div class="container">
      <div class="jumbotron">
        <header>
          <h1 align="center"><a href="/">RSS Reader</a></h1>
          {% if user.is_authenticated %}
          <a href="{% url 'logout' %}" class="btn btn-danger pull-right">Logout</a>
          <p>Hi {{ user.username }}!</p>
          <p> <form method="post" align="center">
                {% csrf_token %}
                {{ form }}
                <input type="button" onclick="test()" class="btn btn-success" value="Submit" />
              </form>
          </p>
          {% else %}
            <div class="container" align="center">
              <p> You are not logged in.</p>
              <a href="{% url 'login' %}" class="btn btn-primary">Login</a>
              <a href="{% url 'signup' %}" class="btn btn-success">Signup</a>
            </div>
          {% endif %}
        </header>
      </div>
    </div>

    <div class="container">
      <div class="jumbotron">
        <table id="table-id">


        </table>
      </div>
    </div>

      <script>
      function test() {
          var urlField = $('#id_urlField').val();
          var xhttp = new XMLHttpRequest();

    $.ajax({

        url : "/",
        type : "GET",
        data : {urlField:urlField},
        success : function(data){
          var feeds = $.parseJSON(data)['feed']
          $('#table-id').append('<tr><th class="text-center"> <h2>'+feeds[0]+ '</h2></th></tr>');

          for(i=1;i<feeds.length;i++){
            $('#table-id').append('<tr><td> <h4>'+feeds[i][0]+'</h4></td></tr>');
            $('#table-id').append('<tr><td> <h5>'+feeds[i][1]+'</h5></td></tr>');
            $('#table-id').append('<tr><td> <h5> <a href="'+feeds[i][2]+'">Reade More...</h5></td></tr>');
            $('#table-id').append('<tr><td class="text-center">........................................</td></tr>')
          }



        }

      });


    }
      </script>
{% endblock content %}
