{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}

<div class="container">
  <div class="jumbotron">
    <header>
      <h1 align="center"><a href="/">RSS Reader</a></h1>
    </header>
    <a href="{% url 'login' %}" class="btn btn-primary">Login</a>
  </div>
</div>

  <div class="container text-center">
    <div class="jumbotron">
      <h2>Sign Up</h2>
      <form method="post" class="text-center">
        {% csrf_token %}
        {{ form | crispy }}
        <input type="submit" class="btn btn-success" value="Signup" />
      </form>
    </div>
  </div
{% endblock %}
